body {margin: 0; padding: 40px; background-color: black;}
div#main {margin: auto; width: 50%;}
input { 
    float:left;
	width: 180px;
	height: 180px;
	color: white;
	background-color: blue;
	border: 1px white solid;
	font-size: 60px;
}

input:hover{
	background-color: #5291EF;
}