body {margin: 0; background-color: black;}

.container {
	overflow: auto;
	width: 50%;
	margin: auto;
} 

header { 
    background-color: white; 
    margin-bottom: 10px; 
	text-align: center; 
	padding: 10px 0px; 
	border-radius: 6px;
    border: 1px #5291EF solid;
}

img {
    width:70px;
	height:70px;
	margin-bottom: 10px;
}

img:hover {
	-webkit-filter: brightness(200%); /* Chrome, Safari, Opera */
    filter: brightness(200%);
}


div#main {overflow: auto;}

aside {float: right; text-align: center;}
#title1 {background-color: red; float: left; border-radius: 4px; margin: 1px; padding: 3px;}
#title2 {background-color: green; float: right; border-radius: 4px; margin: 1px; padding: 3px;}
.left-box, .right-box { text-align: center; float:left; margin: 0px 2px;}
aside h1 {background-color: white; border-radius: 4px;}

.reset {
	border-radius: 4px;
	padding: 10px;
	background-color: green;
	font-size: 20px;
	border: none;
}

.reset:hover {
	background-color: #00FF00;
}

.field { 
    float: left;
	width: 180px;
	height: 180px;
	color: white;
	background-color: blue;
	border: 1px white solid;
	font-size: 60px;
}

.field:hover{
	background-color: #5291EF;
}

