/* RESPONSIVE */
* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  border: 1px red solid;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


/*           CSS          */

body {
  margin: 0;
  background-color: black;
}

.container {
  overflow: auto;
  width: 70%;
  margin: auto;
  margin-top: 2.5%;
}

header {
  background-color: white;
  margin-bottom: 10px;
	text-align: center;
	padding: 5px 0px;
	border-radius: 6px;
  border: 1px #5291EF solid;
}

#matchend {
  display: none;
  clear: both;
  overflow: auto;
}

#result {
  float: left;
  text-align: center;
  color: white;
}
#result.win {
  color: red;
}

img {
  width:35%;
  height:35%;
}
img:active, img:hover {
  -webkit-filter: brightness(150%); /* Chrome, Safari, Opera */
  filter: brightness(150%);
}


div#main {overflow: auto;}

aside {
  text-align: center;
}
aside h1 {
  background-color: white;
  border-radius: 4px;
}

#title1, #title2 {
  float: left;
  border-radius: 4px;
  margin: 1px;
  padding: 3px;
}
#title1 {
    background-color: green;
}
#title1.active {
    background-color: #00FF00;
}
#title2 {
    float: right;
    background-color: #9C0000;
}
#title2.active {
    background-color: red;
}

.left-box, .right-box {
  text-align: center;
  float: left;
  margin: 0px 2px;
}
.right-box {
  float: right;
}


.reset, .newmatch {
  border-radius: 4px;
  padding: 10px;
  background-color: green;
  font-size: 20px;
  border: none;
  color: white;
}

.newmatch {
  margin: 10px;
}

.reset:active, .newmatch:active, .reset:hover, .newmatch:hover {
  background-color: #00FF00;
}

.field {
  float:left;
  width: 33%;
  color: white;
  background-color: blue;
  border: 1px white solid;
  font-size: 60px;
}

.field:active, .field:hover {
  background-color: #5291EF;
}
